<div class="container col-lg-10 mx-auto">
    <h2 class="text-center"> Lista Usuarios</h2>
    <table class = "table table-striped">
        <thead>
            <tr>
                <th> Nombre</th>
                <th> Apellidos </th>
                <th> Email</th>
                <th> Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let usuario of usuarios" >
                <td> {{ usuario.nombre }} </td>
                <td> {{ usuario.apellidos }} </td>
                <td> {{ usuario.correo }} </td>
                <td>
                    <div class="d-flex justify-content-between">
                        <button (click)="actualizarUsuario(usuario.id)" class="btn btn-primary">U</button>
                        <button (click)="visualizarUsuario(usuario.id)" class="btn btn-secondary">R</button>
                        <button (click)="eliminarUsuario(usuario.id)" class="btn btn-danger">D</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

