#registro-reservas .error{
    color: red;
}

#registro-reservas .flecha{
    width: 30px;
    height: 30px;
}

#registro-reservas .pistas-container{
    flex-wrap: wrap;
    row-gap: 30px;
}

#registro-reservas .pista{
    display: flex;
    flex-direction: column;
    margin: 0 20px;
    padding: 20px;
    width: 100%;
    justify-content: space-between;
}

#registro-reservas .hueco-libre{
    color: #258d1b;
}

#registro-reservas .pista-libre{
    box-shadow: 0 0 0 5px #30c222;
}

#registro-reservas .pista-reservada{
    box-shadow: 0 0 0 5px #df1717;
}

#registro-reservas .pista-abierta{
    box-shadow: 0 0 0 5px #2817df;
}

#registro-reservas .seleccionada{
    box-shadow: 0 0 0 5px #f2ff37;
}

#registro-reservas .pista-propia {
    box-shadow: 0 0 10px 4px #be06a0;
}