<nav class="navbar navbar-expand-sm bg-primary navbar-dark justify-content-between">
    <ul class="navbar-nav px-5 gap-2">
        <li class="nav-item">
            <a routerLink="" routerLinkActive="active" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
            <a routerLink="usuarios" routerLinkActive="active" class="nav-link">Usuarios</a>
        </li>
    </ul>
    <ul class="navbar-nav px-5">
        <li class="nav-item dropdown" *ngIf="!(isLoggedIn$ | async)">
            <div ngbDropdown class="d-inline-block">
                <button class="nav-link dropdown-toggle" id="loginDropdown" ngbDropdownToggle>
                    👤
                </button>
                <div class="dropdown-menu-end" aria-labelledby="loginDropdown" ngbDropdownMenu>
                    <a routerLink="crear-usuario" class="dropdown-item">Registro</a>
                    <a routerLink="login-usuario" class="dropdown-item">Login</a>
                </div>
            </div>
        </li>
        
        <!-- Cuando el usuario ESTÁ autenticado -->
        <li class="nav-item dropdown" *ngIf="(isLoggedIn$ | async)">
            <div ngbDropdown class="d-inline-block">
                <button class="nav-link dropdown-toggle" id="userDropdown" ngbDropdownToggle>
                    👤
                </button>
                <div class="dropdown-menu-end" aria-labelledby="userDropdown" ngbDropdownMenu placement="bottom-end">
                    <a routerLink="perfil" class="dropdown-item">Ver Perfil</a>
                    <a routerLink="login-usuario" class="dropdown-item">Cerrar Sesión</a>
                </div>
            </div>
        </li>
    </ul>
</nav>
<section class="container py-5">
    <router-outlet></router-outlet>
</section>

<footer class="bg-light text-center text-lg-start">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2023 Copyright:
        <a class="text-dark" href="https://github.com/Luas6">Saúl Matías Jiménez</a>
    </div>
    <!-- Copyright -->
</footer>