#home-blog .blog-post {
    height: 100%;
}

#home-blog .enlace-blog {
    color: #000203;
    text-decoration: none;
    transition: color 0.3s;
    &:hover {
      color: #ffffff;
    }
  }

/* blog.component.css */
#home-blog .bg-color-1 {
    background-color: #08a7cf;
}

#home-blog .bg-color-2 {
    background-color: #08cf5b;
}

#home-blog .bg-color-3 {
    background-color: #cf08c5;
}

#home-blog .bg-color-4 {
    background-color: #cfbb08;
}

#home-blog .contenido-card-blog {
    margin-left: 20px;
    margin-right: 20px;
}

@media only screen and (min-width: 560px) {
    #home-blog .contenido-card-blog {
        margin-left: 60px;
        margin-right: 60px;
    }
}