<div class="container col-lg-10 mx-auto">
    <h2 class="text-center py-3"> Lista Empleados</h2>
    <table class = "table table-striped">
        <thead>
            <tr>
                <th> Nombre</th>
                <th> Apellidos </th>
                <th> Email</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let empleado of empleados" >
                <td> {{ empleado.nombre }} </td>
                <td> {{ empleado.apellidos }} </td>
                <td> {{ empleado.correo }} </td>
            </tr>
        </tbody>
    </table>
</div>

