<section id="home-section">

<div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>Bienvenidos al Complejo de Pádel</h1>
        <p>¡Reserva tu pista y disfruta del mejor pádel!</p>
      </div>
      <div class="col-md-6">
        <div class="card">
          <img src="assets/images/pista-padel.jpg" class="card-img-top" alt="Imagen 1">
          <div class="card-body">
            <h5 class="card-title">Pistas de Pádel</h5>
            <p class="card-text">Contamos con modernas pistas de pádel para todos los niveles.</p>
            <a href="/reservas" class="btn btn-primary">Reservar</a>
          </div>
        </div>
      </div>
    </div>

    <app-faqs></app-faqs>
    
    <div class="row mt-4">
      <div class="col-md-4">
        <div class="card">
          <img src="assets/images/escuela.png" class="card-img-top" alt="Imagen 2">
          <div class="card-body">
            <h5 class="card-title">Escuela de Pádel</h5>
            <p class="card-text">Aprende a jugar pádel con nuestros profesionales.</p>
            <a href="/blog" class="btn btn-primary">Más información</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="assets/images/torneo.png" class="card-img-top" alt="Imagen 3">
          <div class="card-body">
            <h5 class="card-title">Torneos y Eventos</h5>
            <p class="card-text">Participa en emocionantes torneos y eventos de pádel.</p>
            <a href="/blog" class="btn btn-primary">Ver calendario</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="assets/images/tienda.png" class="card-img-top" alt="Imagen 4">
          <div class="card-body">
            <h5 class="card-title">Tienda de Pádel</h5>
            <p class="card-text">Encuentra los mejores productos de pádel en nuestra tienda.</p>
            <a href="/blog" class="btn btn-primary">Ir a la tienda</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
  